:root {
  --primary-color: lightsteelblue;
  --secondary-color: lightpink;
  --large: 200px;
  --small: 10px;
  --timing: 10s;
}

.white-text {
  color: white;
}

/* Make the image responsive */
.backgroundImage {
  z-index: 0;
}

/* Style the button and place it in the middle of the container/image */
.imageBtn {
  z-index: 2; /* set a higher z-index than the image */
  background-color: #007bff; /* set your desired background color */
  color: #fff; /* set your desired text color */
  border: none; /* remove button border */
  padding: 10px 20px; /* set your desired padding */
  cursor: pointer; /* change mouse cursor on hover */

}

.fadeIn {
  animation: fadeIn 3s;
  animation-delay: 21s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeOut {
  animation: fadeOut 3s;
  animation-fill-mode: forwards;
  opacity: 1;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#breathCountdown {
  font-size: 2em;
  position: absolute; /* set button to an absolute position */
  top: 77%; /* adjust the top position of the button */
  left: 50%; /* adjust the left position of the button */
  transform: translate(-50%, -50%); /* center the button */
  opacity: 0;
  /* animation: breathCountdownPulse 90s linear; */
  /* animation-delay: 15s; */
  /* animation-fill-mode: forwards; */
  animation-fill-mode: forwards;
  animation-name: fadeIn, breathCountdownPulse, fadeOut;
  animation-delay: 14s, 15s, 85s;
  animation-duration: 1s, 90s, 1s;
  animation-timing-function: linear;
}

@keyframes breathCountdownPulse {
  0%     { opacity: 1;}
  15.56% { opacity: 1;}
  16.12% { opacity: 0;}
  16.67% { opacity: 1;}
  32.22% { opacity: 1;}
  32.78% { opacity: 0;}
  33.33% { opacity: 1;}
  48.89% { opacity: 1;}
  49.45% { opacity: 0;}
  50%    { opacity: 1;}
  65.56% { opacity: 1;}
  66.12% { opacity: 0;}
  66.67% { opacity: 1;}
  82.22% { opacity: 1;}
  82.78% { opacity: 0;}
  83.33% { opacity: 1;}
  100%   { opacity: 1;}
}

#breathCountdown::after {
  content: "5";
	animation: breathCountdownText 90s linear;
  animation-delay: 15s;
  animation-fill-mode: forwards;
}

@keyframes breathCountdownText {
  0% { content: "5";}
  15.56% { content: "5";}
  16.67% { content: "4";}
  32.22% { content: "4";}
  33.33% { content: "3";}
  48.89% { content: "3";}
  50%    { content: "2";}
  65.56% { content: "2";}
  66.67% { content: "1";}
  82.22% { content: "1";}
  83.33% { content: "0";}
  100%   { content: "0";}
}

#breathingIntroText {
  opacity: 0;
  animation: breathingIntroTextPulse 7s linear;
  animation-delay: 5s;
  animation-fill-mode: forwards;
}

@keyframes breathingIntroTextPulse {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.breathingCircle {

  background-color: var(--primary-color);
  width: var(--small);
  height: var(--small);
  border-radius: calc( var(--small) / 2);
  display: inline-block;
}

.animate {
  animation: breath var(--timing) ease infinite none running
}

@keyframes breath {
  25%, 50% {
     background-color: var(--secondary-color);
     width: var(--large);
     height: var(--large);
     border-radius: calc( var(--large) / 2);
  }   
}

.bottom-centre {
  position: absolute; /* set button to an absolute position */
  top: 85%; /* adjust the top position of the button */
  left: 50%; /* adjust the left position of the button */
  transform: translate(-50%, -50%); /* center the button */
}

#toggleSoundButton {
  position: absolute; /* set button to an absolute position */
  margin-top: 1.5rem;
  left: 91%; /* adjust the left position of the button */
  transform: translate(-50%, -50%); /* center the button */
  z-index: 2;
  color: grey;
}



#helloText {
	animation: pulse 20s linear;
}

@keyframes pulse {
	0% {
	color: rgba(0, 0, 0, 0);
	}
  8% {
	color: rgba(0, 0, 0, 0);
	}
	12% {
		color: white;
	}
  22% {
		color: white;
	}
	26% {
		color: rgba(0, 0, 0, 0);
	}
  32% {
		color: rgba(0, 0, 0, 0);
	}
	36% {
		color: white;
	}
	46% {
		color: white;
	}
	50% {
		color: rgba(0, 0, 0, 0);
	}
	56% {
		color: rgba(0, 0, 0, 0);
	}
  60% {
		color: white;
	}
  70% {
		color: white;
	}
  74% {
		color: rgba(0, 0, 0, 0);
	}
  80% {
		color: rgba(0, 0, 0, 0);
	}
  84% {
		color: white;
	}
  94% {
		color: white;
	}
  98% {
		color: rgba(0, 0, 0, 0);
	}
  100% {
		color: rgba(0, 0, 0, 0);
	}
}

#helloText:after {
	content: "";
	animation: spin 20s linear;
} 

@keyframes spin {
  4% { content:"Greetings, traveller..."; }
  27% { content:"Greetings, traveller..."; }
  28% { content:"How has your journey been so far?..."; }
  51% { content:"How has your journey been so far?..."; }
  52% { content:"You've reached a checkpoint..."; }
  75% { content:"You've reached a checkpoint..."; }
  76% { content:"Stay here and recharge for a while..."; }
  100% { content:"Stay here and recharge for a while..."; }
} 

#breatheAgainBtn {
  opacity: 0;
  animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-delay: 101s;
  animation-duration: 1s;
  animation-timing-function: linear;
}

#breathingOutroText {
  opacity: 0;
  animation-fill-mode: forwards;
  animation-name: outroTextPulse;
  animation-delay: 87s;
  animation-duration: 11s;
  animation-timing-function: linear;
}

@keyframes outroTextPulse {
  0%     { opacity: 0;}
  8.33%  { opacity: 0;}
  16.67% { opacity: 1;}
  33.33% { opacity: 1;}
  41.67% { opacity: 0;}
  66.67% { opacity: 0;}
  75%    { opacity: 1;}
  91.67% { opacity: 1;}
  100%   { opacity: 0;}
}

.z5 {
  z-index: 5;
}

#breathingOutroText::after {
	content: "";
  animation-fill-mode: forwards;
  animation: breathingOutroTextChange 11s linear;
  animation-delay: 87s;
}

@keyframes breathingOutroTextChange {
  0%     { content: "Great work...";}
  50%    { content: "Great work...";}
  58.33% { content: "Come back whenever you need a break...";}
  100%   { content: "Come back whenever you need a break...";}
}

#creditAccordion {
  position: absolute;
  z-index: 4;
  margin-left: 2rem;
  font-size: 0.5rem;
}

#hardAccAlert {
  font-size: 0.7rem;
  position: absolute;
}